.main__section {
    width: 100%;
    height: fit-content;
    padding: 24px 40px 0 24px;
}

/* loader */
.loader {
    display: flex;
    column-gap: 10px;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 2px solid #EDEDED;
    width: 300px;
    height: 80px;
    padding: 15px 10px;
}

.circle__loader {
    position: relative;
    width: 40px;
    height: 40px;
    border: 3px solid #4571E4;
    border-radius: 50px;
}

.circle__loader::after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #4571E4;
    border-radius: 50px;
    animation: loader 2s linear infinite;
}

.loader__text__one {
    font-size: 10px;
    color: #383A48
}

.percents__slide {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-top: 10px;
}

.slider {
    width: 100%;
    height: 12px;
    border: 3px solid #4571E4;
    /* background-color: ; */
    border-radius: 10px;
}

.slider::before {
    content: "";
    display: block;
    width: 0%;
    height: 100%;
    background-color: #4571E4;
    border-radius: 10px;
    animation: slider 10s linear forwards;
}

@keyframes slider {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }

}

@keyframes loader {
    0% {
        width: 10px;
        height: 10px;
    }

    50% {
        width: 100%;
        height: 100%;
    }

    100% {
        width: 10px;
        height: 10px;
    }
}

/* section header */
.section__header {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    width: 100%;
    height: 70px;
    overflow: hidden;
    position: relative;
    padding-bottom: 17px;
    border-bottom: 1px solid #EDEDED
}

.options {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: center;
    column-gap: 24px;
    height: 100%;
}

.language__div {
    display: flex;
    align-items: center;
    column-gap: 35px;
    padding-inline: 14px 8px;
    width: fit-content;
    height: 100%;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

.language__div:hover {
    border-color: #949494;
}

.language {
    color: #383A48;
    font-size: 14px;
}

/* checkbox div */
.checkbox__div {
    display: flex;
    align-items: center;
    column-gap: 10px;
    user-select: none;
    cursor: pointer;
}

.checkbox__div:hover .checkbox__text {
    transform: translateY(-5px);
}

.checkbox {
    width: 20px;
    height: 20px;
    font-size: 14px;
    border: 2px solid #E0E0E0;
    border-radius: 3px;
    padding: 2px;
}

.checkbox__text {
    font-size: 14px;
    line-height: 22px;
    color: #383A48;
    transition: .5s;

}


.checked {
    background-color: #4571e4;
}

/* add__new */
.add__new {
    display: flex;
    column-gap: 10px;
    align-items: center;
    padding-inline: 12px;
    background-color: #383A4899;
    width: 170px;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: .5s;
    box-shadow: 0 5px 10px 2px transparent;

}


.add__new:hover {
    transform: translateX(-3px);
    box-shadow: 0 8px 7px 0px #383A4899;
}

.add__new__icon {
    width: 20px;
    height: 20px;

}

.add__new__text {
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;

}

.clicked {
    background-color: #4571e4;
}

/* media quaries */

@media(max-width:1024px) {
    .main__section {
        padding: 20px 15px;
    }
}

@media(max-width:768px) {
    .main__section {
        padding: 15px 12px;
    }

    .section__header {
        column-gap: 100px;
    }

    .options {
        column-gap: 15px;
    }

    .checkbox__text {
        font-size: 13px;
    }

    .add__new__text {
        font-size: 13px;
    }

    .language__div {
        column-gap: 25px;
        padding-left: 8px;
    }

    .language {
        font-size: 13px;
    }

    .add__new {
        width: 150px;
        padding-inline: 10px;
    }

    .add__new__text {
        font-size: 12px;
    }
}

@media(max-width:570px) {


    .section__header {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        height: fit-content;
        padding: 0;
        border: 2px solid red;
    }


    .options {
        flex-direction: column;
        row-gap: 20px;
        height: 90px;
        width: 100%;
    }

    .language__div {
        width: 100%;
        justify-content: center;
        height: 60px;
    }

    .language {
        font-size: 16px;
    }

    .checkbox__text {
        font-size: 16px;
    }

    .add__new {
        width: 100%;
        justify-content: center;
        height: 100%;
        padding-block: 10px;
    }

    .add__new__text {
        font-size: 16px;
    }

}