.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 53px;
    width: 270px;
    height: 695px;
    background-color: #132450;
    padding-top: 45px;
    overflow-x: hidden;
}

.site__logo {
    width: 110px;
    height: 44px;
    cursor: pointer;
    transform: translateX(10px);
}

.burger__menu {
    cursor: pointer;
}

/* page navigator */
.page__nav {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    row-gap: 53px;
    padding-left: 10px;
}

.page {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF;
}

.page__nav__list {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.page__nav__list::before {
    content: "";
    display: block;
    position: absolute;
    top: 44px;
    height: 60px;
    width: 350px;
    background-color: #FFFFFF;
    border-radius: 55px 55px 55px 55px;
}

.page__nav__item {
    display: flex;
    align-items: center;
    column-gap: 5px;
    z-index: 100;
    padding-left: 10px;
    cursor: pointer;
}

.active {
    color: #132450;
}

.account {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 2px solid #9EB9FF33;
    padding: 20px 12px;
}

.user {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.user__name {
    color: #FFFFFF;
}

.dots {
    cursor: pointer;
}


@media(max-width:768px) {
    .menu {
        width: 100%;
        height: 70px;
        padding: 12px 30px;
        justify-content: space-between;
    }

    .menu__div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .page__nav {
        display: none;
    }

    .page__nav__list::before {
        display: none;
    }

    .account {
        display: none;
    }
}