.text__section {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin-top: 24px;
}

.textarea__div {
    display: flex;
    column-gap: 30px;
    width: 100%;
    height: 432px;
    align-items: center;
}

.textarea {
    height: 100%;
    width: 100%;
    background-color: #F0F7FF;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 20px 0 0 20px;
    font-size: 18px;
    font-weight: 400;
    color: #383A48;
}

.highlighted_left {
    color: green;
}

.highlighted_right {
    color: red;
}


.textarea::before {
    display: block;
    position: absolute;
    content: "დაიწყე წერა...";
    color: #383a48ad;
}

.textarea.has_content::before {
    display: none;
}


.double__arrow {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.double__arrow__icon {
    width: 100%;
    height: 100%;
}

/* compare button  */

.compare__button {
    background-color: #383A4899;
    color: #FFFFFF;
    padding: 15px 37px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: .5s;
    box-shadow: 0 8px 7px 0px transparent;

}

.compare__button:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 7px 0px #383A4899;
}


/* media queries */
@media(max-width:1024px) {
    .textarea__div {
        column-gap: 20px;
    }
}

@media(max-width:570px) {

    .textarea__div {
        flex-direction: column;
        height: fit-content;
        row-gap: 20px;
    }

    .double__arrow {
        transform: rotateZ(90deg);
    }

    .textarea {
        height: 190px;
    }
}

.hidden {
    display: none;
}